.headLine{
  font-size: 10vh;
  text-align: center;
}

.container {
  border-radius: 1vh;
  margin: auto;
  width: 60vh;
  height: 60vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .game__cell {
    background: lightgray;
    width: 20vh;
    height: 16vh; 
    border: 1px solid yellowgreen;
    font-size: 10vh;
    padding-top: 4vh;
  }
}
.button__restart {
  background-color: yellowgreen;
  border: 0;
  border-radius: 1vh;
  display: block;
  margin: auto;
  margin-top: 2vh;
  padding: 2vh 5vh 2vh 5vh;
  font-size: 3vh;
}
